$color-one: #e5dfdf;
$color-two: #6ba8a9;
$color-three: #357376;
$color-four: #1d4d4f;
$color-five: whitesmoke;
$xs: 5px;
$sm: 10px;
$md: 15px;
$mdlg: 20px;
$lg: 25px;
$xl: 30px;
$portrait: 320px;
$landscape: 480px;
$tablets: 768px;
$desktop: 992px;
$widescreen: 1200px;
$ultrawidescreen: 1600px;
